*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#eac4ff,#cc0dac);
    overflow: hidden;
}
.stairs{
    position: relative;
    width: 500px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(160deg);
    animation:animate 10s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    
    }
}
.stairs .base{
    position: absolute;
    top: 0;
    left: 60px;
    width: 360px;
    height: 300px;
    background: #711a99;
    transform: rotateX(90deg) translateZ(-150px) scale(1.25);
    filter: blur(20px);
    opacity: 0.5;
}
.stairs .step{
    position: absolute;
    left: calc(60px * var(--j));
    bottom: 0;
    width: 60px;
    height: calc(60px * var(--j));
    /*background:#f00;*/
    transform-style: preserve-3d;

}
.stairs .step::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 300px;
    background: #e25b9f;
    transform: rotateX(90deg) translateZ(150px);
}
.stairs .step:hover::before{
    filter: brightness(1.1);
    cursor: pointer;
}

.stairs .step::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 60px;
    background: #5e0e86;
    transform: rotateY(90deg) translateZ(-150px);
}
.stairs .step i{
         position: absolute;
         display: block;
         width: 60px;
         height: 100%;
         background: #8e14c7;
         transform-style: preserve-3d;
         
}
.stairs .step i:nth-child(1){
    transform: translateZ(150px);
}
.stairs .step i:nth-child(2){
    transform: translateZ(-150px);
}


.stairs .step:last-child i:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #9719d6;
    transform: rotateY(90deg) translate3d(-150px,0,-90px);
}












